{% extends 'base.html.twig' %}

{% block title %}Tous les articles{% endblock %}

{% block body %}
    <h2>Tous nos articles</h2>

    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item">
            <a href="{{ path('post_read', {'id': post.id}) }}">
                {{ post.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}